---
import PublicLayout from '@/layouts/PublicLayout.astro'
---

<PublicLayout>
    <section class="flex flex-col items-center justify-center text-center px-4 py-60">
        <h1 class="text-5xl font-bold mb-4">500</h1>
        <p class="text-xl mb-8">Internal Server Error</p>
        <a href="/" class="inline-block px-6 py-3 text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition">
            Return to Home Page
        </a>
    </section>
</PublicLayout>
